* {
    margin: 0;
}

.links {
    margin: 1.5rem;
    padding: 1rem;
    background-color: aquamarine;
    justify-content: space-between;
    position: absolute;
    right: 0px;
}

.login {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 1em;
    top: 50%;
    transform: translateY(50%);
}

.flex-outer {
    background-color: aqua;
    padding: 2rem;
    display: grid;
    justify-content: center;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 70%;
}

.flex-outer>li>label+* {
    flex: 1 0 70%;
}

.flex-outer input[type=text],
.flex-outer input[type=number] {
    height: 4em;
    background-color: rgb(189, 255, 255);
    border: none;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.row input[type=submit] {
    margin: 10%;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}