* {
    margin: 0;
    color: black;
}

/* Links */
.links {
    margin: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    box-shadow: 0.2rem 0.3rem #00000040;
    border-radius: 10%;
}

.links a {
    margin: 0 2rem;
}

/* Alert box */
.alertBoxBig {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    z-index: 10000;
    position: fixed;
    width: 100svw;
}
.alert {
    background-color: #f44336;
    color: white;
    width: 25svw;
    display: none;
    padding: 1rem;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }


@media only screen and (max-width: 450px) {

    /* For smaller phones: */
    .links {
        right: auto;
        width: 100svw;
        margin: 0;
        justify-content: space-around;
        padding: 1rem 0rem;
        border-radius: 0%;
        box-shadow: 0px 0.3rem #00000040;
    }

    .links a {
        margin: 0;
    }

    .alertBoxBig {
        padding: 0rem;
        margin: 0;
    }
    .alert {
        width: 100svw;
    }
}

/* Join Form */
.login {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    transform: translateY(50%);
}

.title {
    font-size: larger;
    font-weight: bold;
}

.form {
    display: grid;
    justify-content: center;
    box-shadow: 0.3rem 0.5rem #00000040;
    border-radius: 10%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.flex-outer {
    padding: 0 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 70%;
}

.flex-outer>li>label+* {
    flex: 1 0 70%;
}

.flex-outer input[type=text],
.flex-outer input[type=number] {
    height: 4em;
    border: none;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.row button {
    margin: 10%;
    padding: 15px 25px;
    border: none;
    background: #1F1E1E;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 25%;
    cursor: pointer;
}

/* SVG */
.svg,
.svg2 {
    max-height: 50svh;
    max-width: 30svw;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}

.svg2 {
    right: 0;
}

@media only screen and (max-width: 600px) {

    .svg,
    .svg2 {
        max-height: 30svh;
    }
}

/* 404 */
.notFound {
    background-color: #B296C3;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 30svh;
    font-size: larger;
}

.return {
    display: flex;
    justify-content: center;
    margin: 10%;
    padding: 15px 25px;
    border: none;
    background: #1F1E1E;
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 25%;
}